/* === @media === */

// Tablet

@media screen and (max-width: 768px) {
    .grid_container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr min-content;
        grid-template-areas:
            "header"
            "aside"
            "main"
            "footer";
    }

    .bg {
        @include fondos (url(../img/fondo3.jpg))
    }

    .header_superior {
        padding: 10px;

        .buscador {
            input {
                width: 140px;
            }
        }

        .logo {
            img {
                width: 60px;
            }
        }
    }

    .barra_menu {
        padding: 0px 20px;
    }

    nav ul li {
        &:hover ul {
            top: 50px;
        }

        ul {
            left: 100px;
        }
    }

    nav>ul {
        flex-direction: column;
        background-color: $purpura;
        position: absolute;
        padding-left: 0;
        left: 0;
        top: 153px;
        width: 100%;
        height: 0px;
        transition: $mov;
        z-index: 100;
        opacity: 0;
        visibility: hidden;

        >li {
            &:first-child {
                >a {
                    background-position: 10px;
                }
            }

            >a {
                &:hover {
                    transform: scale(1);
                }
            }
        }
    }

    #seleccion {
        transform: scale(1);
    }

    #casa {
        transform: scale(1);
    }

    #label_check {
        display: block;
    }

    .icon_menu {
        display: flex;
    }

    #check_menu:checked~nav>ul {
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    .container__cards {
        .cards {
            width: 200px;
        }
    }

    .form__register {
        width: 280px;

        .superior span {
            font-size: 1.2rem;
        }
    }

}

// Movil

@media screen and (max-width: 320px) {
    .grid_container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr min-content;
        grid-template-areas:
            "header"
            "aside"
            "main"
            "footer";
    }

    .bg {
        @include fondos (url(../img/fondo1.jpg))
    }

    .buscador {
        display: none;
    }

    nav {
        ul li {
            ul {
                width: 150px;
            }
        }
    }

    .iconos {
        &__cajas {
            width: 130px;
            height: 148px;
            h4{
                bottom: 25px;
            }
        }
    }

    .carousel {
        display: none;
    }

    .container__cards {
        .cards {
            width: 190px;
        }
    }
}

/* === Cierre de @media === */