/* === Contenido de Header === */

/* Seccion de Logo + Buscador */

.header_superior {
    background: $purpura;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
        img {
            width: 80px;
        }
    }

    .buscador {
        input {
            background-color: $gris;
            width: 250px;
            padding: 4px;
        }
    }
}

/* Bara de navegacion */

.barra_menu {
    width: 100%;
    height: 74px;
    background: $purpura;

    .menu {
        max-width: 1200px;
        margin: auto;
        height: 100%;
    }
}

nav {
    height: 100%;

    ul li {
        height: 100%;
        list-style: none;
        position: relative;

        &:hover ul {
            visibility: visible;
            opacity: 1;
            top: 70px;
        }

        ul {
            width: 250px;
            display: flex;
            flex-direction: column;
            background-color: $gris;
            position: absolute;
            top: 90px;
            left: -5;
            padding: 14px 0px;
            visibility: hidden;
            opacity: 0;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            z-index: 10;
            transition: $mov;

            li a {
                display: block;
                color: $celeste;
                padding: 6px;
                padding-left: 14px;
                margin-top: 10px;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;
                transition: $mov;

                &:hover {
                    background: $celeste;
                    color: $purpura;
                    transform: scale(1.1);
                    padding-left: 30px;
                    font-size: 14px;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}

nav>ul {
    height: 100%;
    display: flex;

    >li {
        &:first-child {
            >a {
                background-image: url(../img/home2.png);
                background-size: 14px;
                background-repeat: no-repeat;
                background-position: center center;
                padding: 20px 40px;
                color: $celeste;
            }

            &:hover>a {
                background-image: url(../img/home1.png);
                background-size: 14px;
                background-repeat: no-repeat;
                background-position: center center;
                color: $purpura;
            }
        }

        >a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 14px;
            color: $celeste;
            text-transform: uppercase;
            font-size: 14px;
            transition: $mov;
            text-decoration: none;

            &:hover {
                transform: scale(1.1);
                background: $celeste;
                color: $purpura;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

#seleccion {
    transform: scale(1.1);
    background-color: $celeste;
    color: $purpura;
}

#casa {
    background-image: url(../img/home1.png);
    transform: scale(1.1);
    background-color: $celeste;
}

.icon_menu {
    font-size: 20px;
    color: $celeste;
    cursor: pointer;
    height: 100%;
    display: none;
    align-items: center;
    margin: 28px;
}

#label_check {
    width: 26px;
    height: 100%;
    display: none;
}

#check_menu {
    display: none;
}

/* === Cierre de Header === */