/* === Paleta de Colores === */

$celeste: #4daddf;
$purpura: #6c4892;
$gris: #f0f0f0;

/* === transiciones === */

$mov: all 300ms ease;

/* === Mixins === */

@mixin fondos ($imagen) {
    background-image: $imagen;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@mixin botones {
    background-color: $celeste;
    color: $purpura;
    padding: .6em;
    border-radius: 5px;
    border: none;
    text-decoration: none;

    &:hover {
        background-color: $purpura;
        color: $celeste;
    }
}